/* Importa il font Audiowide */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Audiowide', sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 300%;
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.subtitle {
    font-size: 200%;
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.box_max {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    justify-content: center;
    padding: 40px;
    background-color: lightgrey;
}

.box_lezione {
    background-color: #cceeff;
    padding: 30px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.box_torta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -60px;
    background-color: white;
    padding: 5px;
}

.box_title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.box_text {
    color: #444;
    font-size: 14px;
    margin: 10px 0 20px 0;
    line-height: 1.4;
}

.box_pulsante {
    background-color: #222;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box_pulsante:hover {
    background-color: #444;
}

.main-menu {
	display: flex;
	display: -webkit-flex;
}

.menu-link {
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 10px;
}
.menu-link:hover {
	background-color: #51caf3;
	color: #fff;
}

.main-menu {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}